@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap');
html,
body {
    height: 100%;
    font-family: "Exo 2", sans-serif;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1 /*Цвет скролла*/
}
::-webkit-scrollbar-thumb {
	border-radius: 3px; /*Закругление ползунка*/
	background-color: #e00900; /*Цвет ползунка*/
    box-shadow: 0 2px 4px 0 rgb(136 144 195 / 20%), 0 5px 15px 0 rgb(37 44 97 / 15%);
}
::-webkit-scrollbar{
	width: 15px;  /*Толщина скролла*/
}

body {
    background-color: #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6, .lead,
h1, h2, h3, h4, h5, h6, p {
    color: #e00900;
    user-select: none;
}

.lead {
    font-size: 14pt;
    font-weight: 500;
}

img {
    pointer-events: none;
}

.box-rad-15-shad {
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgb(136 144 195 / 20%), 0 5px 15px 0 rgb(37 44 97 / 15%);
}

.btn {
    width: 100%;
    font-weight: 700;
}

/* Header */

.item-round {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 0 0 .5rem;
    border: 2px solid #edf0f6;
    background-color: #fff;
    font-size: 12pt;
    font-weight: 600;
    line-height: 40px;
    text-align: center;

    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

.item-round:hover {
    border: 2px solid #e00900;
    background-color: #e00900;
}

.item-round-txt li > a {
    margin: 0 auto;
    padding: 0;
    color: #e00900;
    font-weight: 700;

    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

.item-round-txt li > a:visited {
    color: #e00900;
}

.item-round-txt li > a:hover {
    padding: 0;
    color: white;
}

.bi-eye-fill {
    font-size: 16pt;
}

/* Social */

.social {
    padding: 0 .5rem 0 .5rem;
}

.bi-moodle {
    padding: 0 !important;
    margin-bottom: .1rem;
}

.social > li {
    color: #e00900;
    font-size: 22pt;
    padding: 0 .5rem 0 .5rem;

    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

.social > li:hover {
    transform: scale(1.2);
}

.social > li > a {
    color: inherit;
    text-decoration: none;
}

.line-map {
    line-height: 16px;
    padding: 0 .5rem 0 .5rem;
}

.line-map > a {
    text-decoration: none;
    font-weight: 600;
    color: #e00900;
    font-size: 12pt;

    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

.line-map > a:hover {
    color: #9c0a05;
}

.line-phone {
    padding: 0 .5rem 0 .5rem;
}

.line-phone > a {
    text-decoration: none;
    font-weight: 600;
    color: #e00900;
    font-size: 12pt;

    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

.line-phone > a:hover {
    color: #9c0a05;
}

/* Header Two */

.navbar-nav > .nav-item {
    margin: 0 3.3rem 0 0;
    font-size: 14pt;
    font-weight: 600;
}

.dropdown-menu {
    border: none !important;
}

.dropdown-menu > li {
    margin: 0 5px 0 5px;
}

.dropdown-menu > li > a {
    font-size: 12pt;
}

.dropdown-item {
    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

.dropdown-item.active, .dropdown-item:hover {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #E9ECEF !important;
}

.active {
    color: black !important;
}


.navbar-light {
    color: none !important;
}

.navbar-nav > li a {
    color: #e00900 !important;
}

.navbar-nav > li a:hover {
    color: #9c0a05 !important;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: #9c0a05 !important;
}


/* CARDS */

  .solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 20px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 230px;
    transition: 0.7s;
    user-select: none;
  }

  .solution_cards_box .solution_card:hover {
    background: #b80a03;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
  }

  .solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
  }

  .solu_description p {
      color: #b80a03;
      font-weight: 500;
  }

  .solution_cards_box .solution_card:hover .solu_title h3,
  .solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
  }

  .solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }

  .solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #309df0;
  }

  .solution_card .so_top_icon {
  }

  .solution_card .solu_title h3 {
    color: #b80a03;
    font-size: 18pt;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .solution_card .solu_description p {
    font-size: 12pt;
    margin-bottom: 15px;
  }

  .solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
  }

  .our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  .our_solution_content p {
  }

  .hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }

  .solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }

  .solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
  }

  .fixed-top {
    background-color: #ad0d06;
    transition: background-color 200ms linear;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 2px 4px 0 rgb(136 144 195 / 20%), 0 5px 15px 0 rgb(37 44 97 / 15%);
  }

  .fixed-top > .container-fluid > .collapse > .navbar-nav > .nav-item > a {
    color: #fff !important;
  }

.card {
    border: none;
    background-color: #fff;

    -webkit-transition: all 300ms ease 0ms;
    -o-transition: all 300ms ease 0ms;
    transition: all 300ms ease 0ms;
}

.card:hover {
    transform: scale(1.1);
    background-color: #ffe5e5;
}

.card-img-specialty {
    width: 50%;
    pointer-events: none;
}

.carousel-control-next-icon {
    background-image: url("../img/carousel-control-next-icon.svg");
}

.carousel-control-prev-icon {
    background-image: url("../img/carousel-control-prev-icon.svg");
}

.header-h1 {
    position: relative;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .header-h1 h1 {
    display: inline-block;
    background: #fff;
    margin-bottom: 0;
    font-size: 24pt;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #da1b11;
  }
  .header-h1::after {
    content: "";
    position: absolute;
    background: #f51717;
    height: .15rem;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: -999;
  }
  .header-h1-left {
    text-align: left;
  }
  .header-h1-left h1 {
    padding-left: 0;
  }
  .header-h1-right {
    text-align: right;
  }
  .header-h1-right h1 {
    padding-right: 0;
  }

  .card-title {
      font-size: 20pt;
      font-weight: 600;
  }

  .card-text {
      font-size: 12pt;
      font-weight: 500;
  }
